[
 {
  eredis, [
    {slot_number, 16384},
    {allredisdisabled, 500},
    {coldstart, true},
    {size_worker, 2},
    {ping_timeout, 5000},
    {cluster, [
       {<<"localhost">>, <<"7001">>, 0, <<"">> },
       {<<"localhost">>, <<"7002">>, 0, <<"">> },
       {<<"localhost">>, <<"7003">>, 0, <<"">> },
       {<<"127.0.0.1">>, <<"7004">>, 0, <<"">> },
       {<<"127.0.0.1">>, <<"7005">>, 0, <<"">> },
       {<<"127.0.0.1">>, <<"7006">>, 0, <<"">> }
     ]}
  ]
 }
].

